body {
    margin: 0; 
    padding: 0; 
    overflow: hidden;
    font: 1em sans-serif;
}

p {
    position: absolute; 
    top: 40vh; 
    left: 85vh; 
    font-size: 24px;  
}

button {
    position:relative; 
    top: 50vh; 
    left: 70vh; 
    padding: 10px 20px; 
    font-size: 16px;  
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
}

.hide {
    background-color: #ff4d4d; 
    color: white; 
    margin-right: 10px; 
}

.show {
    background-color: #4CAF50; 
    color: white; 
}
