body {
    margin: 0; 
    padding: 0; 
    overflow: hidden;
    background-color: black; 
    font: 1em sans-serif;
}
#image {
    width: 200vh; 
    height: 100vh;  
    object-fit: cover; 
    display: block;
}

/* button {
    position: absolute; 
    top: 20px; 
    left: 20px; 
    padding: 10px 20px; 
    font-size: 16px; 
    background-color: rgba(255, 255, 255, 0.7); 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
} */

.button {
    position: absolute;
    top: 38%;
    left: 31%;
    cursor: pointer;
    height: 20%;
    width: 35%;

}
