body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font: 1em sans-serif;
}

h1 {
  position: absolute;
  top: 40vh;
  left: 44%;
  font-size: 24px;
}

button {
  position: relative;
  top: 50vh;
  left: 34%;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #a8a6a6;
}

img {
  position: absolute;
  width: 20vh;
  height: auto;
  display: none;
}

.p1 {
  top: 20vh;
  left: 5%;
}
.p2 {
  top: 5vh;
  left: 45%;
}
.p3 {
  top: 20vh;
  left: 85%;
}
